<mat-card class="task-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar" *ngIf="cardData.priority===1"><fa-icon [icon]="faCrown" [fixedWidth]="true" size="lg" style="margin: 0 auto;"></fa-icon></div>
    <mat-card-title class="card-title-text">{{cardData.name}}</mat-card-title >
    <mat-card-subtitle>до: {{cardData.deadLineDateTime | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>      
  <mat-card-content class="card-content">
    <p>
     {{cardData.content.text}}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <span class="spacer"></span>

    <button mat-mini-fab color="primary" style="margin-right: 5px;" matTooltip="Отложить" [matMenuTriggerFor]="sleepMenu">
      <fa-icon [icon]="faBed" [fixedWidth]="true"> </fa-icon>
    </button>
    <mat-menu #sleepMenu="matMenu">
      <button mat-menu-item matTooltip="+1 день" (click)="deadLineChanged.emit(86400000)">Сдлаю завтра</button>
      <button mat-menu-item matTooltip="+2 дня" (click)="deadLineChanged.emit(172800000)">Пару дней терпит</button>
      <button mat-menu-item matTooltip="+1 неделя" (click)="deadLineChanged.emit(604800000)">Не горит</button>
    </mat-menu>
    
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="cardMenu">
      <fa-icon [icon]="faEllipsisH" [fixedWidth]="true"></fa-icon>
    </button>
    <mat-menu #cardMenu="matMenu">
      <a mat-menu-item href="https://www.facebook.com/"><fa-icon [icon]="fafasebookSquare" [fixedWidth]="true"></fa-icon>&nbsp;Facebook</a>
      <a mat-menu-item href="https://twitter.com/?lang=ru"><fa-icon [icon]="faTwitterSquare" [fixedWidth]="true"></fa-icon>&nbsp;Twitter</a>
      <a mat-menu-item href="https://www.youtube.com/?gl=RU&hl=ru"><fa-icon [icon]="faYoutubeSquare" [fixedWidth]="true"></fa-icon>&nbsp;YouTube</a>
      <a mat-menu-item href="https://vk.com/"><fa-icon [icon]="faVk" [fixedWidth]="true"></fa-icon>&nbsp;ВКонтакте</a>
      <a mat-menu-item href="https://www.instagram.com/?hl=ru"><fa-icon [icon]="faInstagram" [fixedWidth]="true"></fa-icon>&nbsp;Instagramm</a>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="taskClosed.emit()"><fa-icon [icon]="faCheck" [fixedWidth]="true"></fa-icon>&nbsp;Закрыть</button>
      <button mat-menu-item (click)="taskDeleted.emit()"><fa-icon [icon]="faTrash" [fixedWidth]="true"></fa-icon>&nbsp;Удалить</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>