<div class="card-board">
  <mat-expansion-panel [expanded]="true" style="margin-bottom: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>Задачи с высоким приоритетом</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true" style="margin-bottom: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>Задачи с нормальным приоритетом</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <button class="plus-button" (click)="openNewTaskDialog()">
    <fa-icon [icon]="faPlus" [fixedWidth]="true" size="2x"></fa-icon>
  </button>
</div>